@tailwind base;

@tailwind components;
@tailwind utilities;

.custom-radio {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #e5e7eb; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #d1d5db;
  }
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  body.light {
    background-color: white;
    color: black;
  }
  
  body.dark {
    background-color: black;
    color: white;
  }
  
  input {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .dark .table-row {
    background-color: #4a5568; 
    color: #fff; 
  }
  
  .dark .table-header {
    background-color: #2d3748;
  }
  
  .dark .text-black {
    color: #fff; 
  }
  
  input.dark {
    background-color: #333;
    color: white;
  }
  
  input.light {
    background-color: white;
    color: black;
  }
  .text-black {
    color: black; 
  }
  
  .dark .text-black {
    color: white;
  }
  .custom-radio-checked {
    background-color: #d1d5db; 
  }
  
  .custom-radio:after {
    content: '✔';
    font-size: 12px;
    color: rgb(17, 16, 16);
    display: none;
  }
  
  .custom-radio-checked:after {
    display: block;
  }
  