@tailwind base;

@tailwind components;
@tailwind utilities;

.custom-radio {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #e5e7eb; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #d1d5db;
  }
  
body {
  min-height: 100svh;
  transition: background-color 0.5s ease, color 0.5s ease;
 
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}


body.dark .modal-content {
  background-color: #4a5568; 
  color: #fff; 
}

body.light .modal-content {
  background-color: #fff;
  color: #000;
}


body.dark .button {
  background-color: #292D32;
  color: white;
}


body.dark .disabled-button {
  background-color: #4a5568; 
  color: #a0aec0; 
}

body.light .disabled-button {
  background-color: #e2e8f0; 
  color: #718096; 
}


body.dark input {
  background-color: #555;
  color: white;
}

body.light input {
  background-color: white;
  color: black;
}


body.dark .table-row {
  background-color: #4a5568;
  color: white;
}

body.dark .table-header {
  background-color: #2d3748;
}

.modal-content {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark .modal-content {
  background-color: #4a5568; 
  color: #fff;
}

body.light .modal-content {
  background-color: #fff;
  color: #000;
}


body.dark .answers-label {
  color: #fff; 
}

body.light .answers-label {
  color: #000; 
}
  

  
  .custom-radio-checked {
    background-color: #d1d5db; 
  }
  
  .custom-radio:after {
    content: '✔';
    font-size: 12px;
    color: rgb(17, 16, 16);
    display: none;
  }
  
  .custom-radio-checked:after {
    display: block;
  }
  